.footer{background-image: url('cta-1-bg-1.jpg')}
	p{color: white;}
	h1{color: white;}
	.dz{margin-left: 50px;
	margin-top:50px;
	border-radius: 12px;}
	.p{margin-left: 200px;
	margin-top: 50px;}
	.e{margin-left: 200px;}
	.f{margin-left: 200px;
	margin-top: 400px;}