*:before,
*:after {
	box-sizing: inherit;
}

.bg {
	position: fixed;
	opacity: 0.25;
	height: 50%;
	z-index: -1;
	bottom: 0px;
	right: 0px;

}

.container {
	display: flex;
	padding: 50px 2.6% 50px 50px;
}



.leftMenu_div {
	position: sticky;
	top: 100px;
}

.search {
	padding: 10px;
	width: 180px;
	border: 1px solid #60941A;
	border-radius: 5px;
	background: url("..//img/search.svg") no-repeat 195px;
	background-size: 22px;
	padding-right: 35px;


}

.search:focus {
	outline: none !important;
	border: 2px solid #60941A;
}

.filtertitle {
	color: #555;
	font-weight: 400;
}

.cat {
	cursor: pointer;
	font-size: 20px;
	font-weight: 300;
	padding: 5px;
	color: #60941A;
}

.content {
	flex: 4;
}

.products {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

}

.product {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 530px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
	border: 5px solid #60941A;
	border-radius: 25px;
	margin: 43.5px auto 43.5px auto;
	background-color: white;
}



.name {
	font-weight: 300;
	color: #60941A;
	font-size: 23px;
}

.regeon {
	font-weight: 300;
	color: #87a85c;
	font-size: 18px;
	font-weight: 100;
}

.div_money {
	font-size: 18px;
	width: 160px;
	height: 45px;
	border-radius: 8px;
	background-color: #F6FFEA;
	display: flex;
	align-items: center;
	color: #60941A;
}

.money {
	width: 35px;
	height: 35px;
	margin-left: 8px;
	margin-right: 10px;
}

.prdklor {
	width: 10px;
	height: 10px;
	left: 550px;
	top: 447px;
	background: #FFFFFF;
	border: 3px solid #60941A;
	display: inline-block;
	border-radius: 100%;
	margin-right: 7px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: end;
}

.info {
	color: #60941A;
}

.priceText {
	color: #60941A;
}

.priceRange {
	color: #60941A;
}

.priceRange {
	height: 24px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 230px;
}

.priceRange::-webkit-slider-runnable-track {
	height: 5px;
	cursor: pointer;
	background: #60941A;
}

.priceRange::-webkit-slider-thumb {
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #60941A;
	-webkit-appearance: none;
	margin-top: -6.5px;
}

.o {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 4px solid #60941A;
	background-color: none;
	display: inline-block;
	margin-right: 5px;
}

input[type='checkbox'] {
	--active: #60941A;
	--active-inner: #fff;
	--focus: 2px #81af4593;
	--border: #BBC1E1;
	--border-hover: #60941A;
	--background: #fff;
	--disabled: #F6F8FF;
	--disabled-inner: #E1E6F9;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 21px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--bc, var(--border));
	background: var(--b, var(--background));
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

.cat:after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

.cat:checked {
	--b: var(--active);
	--bc: var(--active);
	--d-o: 0.3s;
	--d-t: 0.6s;
	--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.cat:disabled {
	--b: var(--disabled);
	cursor: not-allowed;
	opacity: 0.9;
}

.cat:disabled:checked {
	--b: var(--disabled-inner);
	--bc: var(--border);
}

.cat:hover:not(:checked):not(:disabled) {
	--bc: var(--border-hover);
}

.cat:focus {
	box-shadow: 0 0 0 var(--focus);
}

.cat:not(.switch) {
	width: 21px;
}

.cat:not(.switch):after {
	opacity: var(--o, 0);
}

.cat:not(.switch):checked {
	--o: 1;
}

.cat:not(.switch) {
	border-radius: 7px;
}

.cat:not(.switch):after {
	width: 5px;
	height: 9px;
	border: 2px solid var(--active-inner);
	border-top: 0;
	border-left: 0;
	left: 7px;
	top: 4px;
	transform: rotate(var(--r, 20deg));
}

.cat:not(.switch):checked {
	--r: 43deg;
}

.filtermenu {
	display: none;
}

.filter_check {
	display: flex;
	flex-direction: column;
	width: 40px;
	cursor: pointer;
}

.filter_check .gic {
	background: #60941A;
	border-radius: 10px;
	height: 4px;
	margin: 4px 0;
	transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

.gic:nth-of-type(1) {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.gic:nth-of-type(2) {
	width: 66%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.gic:nth-of-type(3) {
	width: 33%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#check {
	display: none;
}

#check:checked~.gic:nth-of-type(1) {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	width: 50%;
	transform-origin: bottom;
	transform: rotatez(45deg) translate(4px, 0px);
}

#check:checked~.gic:nth-of-type(2) {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	transform-origin: top;
	transform: rotatez(-45deg)
}

#check:checked~.gic:nth-of-type(3) {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	transform-origin: bottom;
	width: 50%;
	transform: translate(18px, -6px) rotatez(45deg);

}

@media screen and (max-width: 1000px) {
	.filtermenu {
		position: fixed;
		display: flex;
		width: 80px;
		height: 60px;
		border-start-end-radius: 100px;
		border-end-end-radius: 100px;
		background-color: rgba(234, 240, 226, 0.89);
		justify-content: right;
		align-items: center;
		padding-right: 15px;
		transition: 2s;
	}

	.leftMenu {
		padding-left: 50px;
		padding-top: 100px;
		transform: translate(-443px, 0);
		width: 400px;
		position: absolute;
		background-color: rgba(234, 240, 226, 0.89);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transition: 2s;
	}

	.container {
		padding: 20px 0 50px 0px;
	}

	#check:checked+.filtermenu {
		background-color: red;
	}

	.showfmenu {
		transform: translate(0, 0);
		transition: 2s;
		width: 400px;
		height: 100vh;
	}

	.klor {
		transition: 2s;

		transform: translate(410px, 0);
	}
}